# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Conda / Virtual Envs
# =========================
.venv/
venv/
env/

# =========================
# Data Files
# =========================
data/raw/*.csv
data/raw/*.zip
data/raw/*.xlsx

data/processed/*.csv
data/processed/*.xlsx

# Keep parquet (needed for deployment)
# data/processed/*.parquet

# =========================
# Models
# =========================

# =========================
# Reports
# =========================
reports/*.jpg
reports/*.jpeg
reports/*.pdf

# Keep folder structure
!reports/.gitkeep

# =========================
# Streamlit
# =========================
.streamlit/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Large / Temp Files
# =========================
*.log
*.tmp

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# Keep all .gitkeep files
!**/.gitkeep